/* ============================================= */
/* Variables Imports */
/* ============================================= */

// Button color
$default-btn-color: #51ddfc;
$success-btn-color: #63cc82;
$error-btn-color: #e4757a;
$warning-btn-color: #fd7856;
$info-btn-color: #927bc1;