/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-text-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: $br;
    cursor: pointer;
    transition: background-color .5s ease-in .5s;
  }
  
  @each $btn-type, $btn-color in $btn-colors {
    .#{$btn-type} {
      background-color: $btn-colors;
      &:hover {
        background-color: lighten($btn-colors, 20%);
      }
    }
  }