/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-text-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  @each $btn-type, $btn-color in $btn-colors {
    .#{$btn-type} {
      background-color: $btn-colors;
    }
  }